@page "/Details/{Id}"
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager

<h1>Suggestion Details</h1>

<div>
    <div>
        @if (suggestion != null)
        {
            <div>
                <div>
                    <div @onclick="VoteUp">
                        <div>@GetUpvoteTopText()</div>
                        <span class="oi oi-caret-top"></span>
                        <div>@GetUpvoteBottomText()</div>
                    </div>
                    <div>
                        <div>@suggestion.DateCreated.ToString("dd.MM.yyyy")</div>
                    </div>
                </div>
                <div>
                    <div>@suggestion.Suggestion</div>
                    <div>@suggestion.Author.DisplayName</div>
                    <div>@suggestion.Description</div>
                    <div>@suggestion.Category.CategoryName</div>
                </div>
                <div>
                    <button @onclick="ClosePage"></button>
                </div>
            </div>
        }
    </div>
</div>

@if (suggestion?.SuggestionStatus != null)
{
    <div>
        <div>
            <div></div>
            <div>
                @suggestion.SuggestionStatus.StatusName
            </div>
            <div>
                @((MarkupString)suggestion.OwnerNotes)
            </div>
        </div>
    </div>
}

@code {
    // Parameter passed by the url {Id}
    [Parameter]
    public string Id { get; set; }

    private UserModel loggedInUser;
    private SuggestionModel suggestion;

    protected async override Task OnInitializedAsync()
    {
        suggestion = await suggestionData.GetSuggestion(Id);
        loggedInUser = await authProvider.GetUserFromAuth(userData);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private string GetUpvoteTopText()
    {
        if (suggestion.UserVotes?.Count > 0)
        {
            return suggestion.UserVotes.Count.ToString("00");
        }
        else
        {
            if (suggestion.Author.Id == loggedInUser?.Id)
            {
                return "Awaiting";
            }
            else
            {
                return "Click To";
            }
        }
    }

    private async Task VoteUp()
    {
        if (loggedInUser != null)
        {
            if (suggestion.Author.Id == loggedInUser.Id)
            {
                // Can't vote on own suggestion
                return;
            }
            // false means that the user already voted on the object & a hashset only contains unique values
            if (suggestion.UserVotes.Add(loggedInUser.Id) == false)
            {
                // that means the user wants to remove their given vote
                suggestion.UserVotes.Remove(loggedInUser.Id);
            }

            await suggestionData.UpvoteSuggestion(suggestion.Id, loggedInUser.Id);
        }
        else
        {
            // foreced load (true) ensures to go to external page
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private string GetUpvoteBottomText()
    {
        if (suggestion.UserVotes?.Count > 1)
        {
            return "Upvotes";
        }
        else
        {
            return "Upvote";
        }
    }
}
